<br>addcslashes()<br><pre>  Returns a string with backslashes in front of the specified characters</pre>
<br>addslashes()<br><pre>   Returns a string with backslashes in front of predefined characters</pre>
<br>bin2hex()<br><pre>  Converts a string of ASCII characters to hexadecimal values</pre>
<br>chop()<br><pre> Removes whitespace or other characters from the right end of a string</pre>
<br>chr()<br><pre>  Returns a character from a specified ASCII value</pre>
<br>chunk_split()<br><pre>  Splits a string into a series of smaller parts</pre>
<br>convert_cyr_string()<br><pre>   Converts a string from one Cyrillic character-set to another</pre>
<br>convert_uudecode()<br><pre> Decodes a uuencoded string</pre>
<br>convert_uuencode()<br><pre> Encodes a string using the uuencode algorithm</pre>
<br>count_chars()<br><pre>  Returns information about characters used in a string</pre>
<br>crc32()<br><pre>    Calculates a 32-bit CRC for a string</pre>
<br>crypt()<br><pre>    One-way string hashing</pre>
<br>echo()<br><pre> Outputs one or more strings</pre>
<br>explode()<br><pre>  Breaks a string into an array</pre>
<br>fprintf()<br><pre>  Writes a formatted string to a specified output stream</pre>
<br>get_html_translation_table()<br><pre>   Returns the translation table used by htmlspecialchars() and htmlentities()</pre>
<br>hebrev()<br><pre>   Converts Hebrew text to visual text</pre>
<br>hebrevc()<br><pre>  Converts Hebrew text to visual text and new lines (\n) into <br></pre>
<br>hex2bin()<br><pre>  Converts a string of hexadecimal values to ASCII characters</pre>
<br>html_entity_decode()<br><pre>   Converts HTML entities to characters</pre>
<br>htmlentities()<br><pre> Converts characters to HTML entities</pre>
<br>htmlspecialchars_decode()<br><pre>  Converts some predefined HTML entities to characters</pre>
<br>htmlspecialchars()<br><pre> Converts some predefined characters to HTML entities</pre>
<br>implode()<br><pre>  Returns a string from the elements of an array</pre>
<br>join()<br><pre> Alias of implode()</pre>
<br>lcfirst()<br><pre>  Converts the first character of a string to lowercase</pre>
<br>levenshtein()<br><pre>  Returns the Levenshtein distance between two strings</pre>
<br>localeconv()<br><pre>   Returns locale numeric and monetary formatting information</pre>
<br>ltrim()<br><pre>    Removes whitespace or other characters from the left side of a string</pre>
<br>md5()<br><pre>  Calculates the MD5 hash of a string</pre>
<br>md5_file()<br><pre> Calculates the MD5 hash of a file</pre>
<br>metaphone()<br><pre>    Calculates the metaphone key of a string</pre>
<br>money_format()<br><pre> Returns a string formatted as a currency string</pre>
<br>nl_langinfo()<br><pre>  Returns specific local information</pre>
<br>nl2br()<br><pre>    Inserts HTML line breaks in front of each newline in a string</pre>
<br>number_format()<br><pre>    Formats a number with grouped thousands</pre>
<br>ord()<br><pre>  Returns the ASCII value of the first character of a string</pre>
<br>parse_str()<br><pre>    Parses a query string into variables</pre>
<br>print()<br><pre>    Outputs one or more strings</pre>
<br>printf()<br><pre>   Outputs a formatted string</pre>
<br>quoted_printable_decode()<br><pre>  Converts a quoted-printable string to an 8-bit string</pre>
<br>quoted_printable_encode()<br><pre>  Converts an 8-bit string to a quoted printable string</pre>
<br>quotemeta()<br><pre>    Quotes meta characters</pre>
<br>rtrim()<br><pre>    Removes whitespace or other characters from the right side of a string</pre>
<br>setlocale()<br><pre>    Sets locale information</pre>
<br>sha1()<br><pre> Calculates the SHA-1 hash of a string</pre>
<br>sha1_file()<br><pre>    Calculates the SHA-1 hash of a file</pre>
<br>similar_text()<br><pre> Calculates the similarity between two strings</pre>
<br>soundex()<br><pre>  Calculates the soundex key of a string</pre>
<br>sprintf()<br><pre>  Writes a formatted string to a variable</pre>
<br>sscanf()<br><pre>   Parses input from a string according to a format</pre>
<br>str_getcsv()<br><pre>   Parses a CSV string into an array</pre>
<br>str_ireplace()<br><pre> Replaces some characters in a string (case-insensitive)</pre>
<br>str_pad()<br><pre>  Pads a string to a new length</pre>
<br>str_repeat()<br><pre>   Repeats a string a specified number of times</pre>
<br>str_replace()<br><pre>  Replaces some characters in a string (case-sensitive)</pre>
<br>str_rot13()<br><pre>    Performs the ROT13 encoding on a string</pre>
<br>str_shuffle()<br><pre>  Randomly shuffles all characters in a string</pre>
<br>str_split()<br><pre>    Splits a string into an array</pre>
<br>str_word_count()<br><pre>   Count the number of words in a string</pre>
<br>strcasecmp()<br><pre>   Compares two strings (case-insensitive)</pre>
<br>strchr()<br><pre>   Finds the first occurrence of a string inside another string (alias of strstr())</pre>
<br>strcmp()<br><pre>   Compares two strings (case-sensitive)</pre>
<br>strcoll()<br><pre>  Compares two strings (locale based string comparison)</pre>
<br>strcspn()<br><pre>  Returns the number of characters found in a string before any part of some specified characters are found</pre>
<br>strip_tags()<br><pre>   Strips HTML and PHP tags from a string</pre>
<br>stripcslashes()<br><pre>    Unquotes a string quoted with addcslashes()</pre>
<br>stripslashes()<br><pre> Unquotes a string quoted with addslashes()</pre>
<br>stripos()<br><pre>  Returns the position of the first occurrence of a string inside another string (case-insensitive)</pre>
<br>stristr()<br><pre>  Finds the first occurrence of a string inside another string (case-insensitive)</pre>
<br>strlen()<br><pre>   Returns the length of a string</pre>
<br>strnatcasecmp()<br><pre>    Compares two strings using a "natural order" algorithm (case-insensitive)</pre>
<br>strnatcmp()<br><pre>    Compares two strings using a "natural order" algorithm (case-sensitive)</pre>
<br>strncasecmp()<br><pre>  String comparison of the first n characters (case-insensitive)</pre>
<br>strncmp()<br><pre>  String comparison of the first n characters (case-sensitive)</pre>
<br>strpbrk()<br><pre>  Searches a string for any of a set of characters</pre>
<br>strpos()<br><pre>   Returns the position of the first occurrence of a string inside another string (case-sensitive)</pre>
<br>strrchr()<br><pre>  Finds the last occurrence of a string inside another string</pre>
<br>strrev()<br><pre>   Reverses a string</pre>
<br>strripos()<br><pre> Finds the position of the last occurrence of a string inside another string (case-insensitive)</pre>
<br>strrpos()<br><pre>  Finds the position of the last occurrence of a string inside another string (case-sensitive)</pre>
<br>strspn()<br><pre>   Returns the number of characters found in a string that contains only characters from a specified charlist</pre>
<br>strstr()<br><pre>   Finds the first occurrence of a string inside another string (case-sensitive)</pre>
<br>strtok()<br><pre>   Splits a string into smaller strings</pre>
<br>strtolower()<br><pre>   Converts a string to lowercase letters</pre>
<br>strtoupper()<br><pre>   Converts a string to uppercase letters</pre>
<br>strtr()<br><pre>    Translates certain characters in a string</pre>
<br>substr()<br><pre>   Returns a part of a string</pre>
<br>substr_compare()<br><pre>   Compares two strings from a specified start position (binary safe and optionally case-sensitive)</pre>
<br>substr_count()<br><pre> Counts the number of times a substring occurs in a string</pre>
<br>substr_replace()<br><pre>   Replaces a part of a string with another string</pre>
<br>trim()<br><pre> Removes whitespace or other characters from both sides of a string</pre>
<br>ucfirst()<br><pre>  Converts the first character of a string to uppercase</pre>
<br>ucwords()<br><pre>  Converts the first character of each word in a string to uppercase</pre>
<br>vfprintf()<br><pre> Writes a formatted string to a specified output stream</pre>
<br>vprintf()<br><pre>  Outputs a formatted string</pre>
<br>vsprintf()<br><pre> Writes a formatted string to a variable</pre>
<br>wordwrap()<br><pre> Wraps a string to a given number of characters</pre>